<footer class="app-footer">

  <mat-toolbar color="primary">
    <div class="col-2"><a mat-button href="https://www.google.com/" target="_blank">@ Cappiello Giorgio</a></div>
    <span class="spacer"></span>
    <div class="col-2"><a mat-button href="https://www.google.com/" target="_blank" class="footer-link">Accessiblity</a>
    </div>
    <div class="col-2"><a mat-button href="https://www.google.com/" target="_blank" class="footer-link">Privacy
        Notice</a></div>
    <div class="col-2"><a mat-button href="https://www.google.com/" target="_blank" class="footer-link">Modern
        Slavery</a></div>
    <div class="col-2"><a mat-button href="https://www.google.com/" target="_blank" class="footer-link">Cookie
        Notice</a></div>
  </mat-toolbar>
</footer>